/************************
General Formatting Rules 
************************/

* { box-sizing: border-box; }

html {
    /* set base font-size for document; will be used for rem calculations */ 
    font-size: 16px;
}

html, body, #wrapper {
    /* resets margins to prevent sizing issues */
    margin: 0;
}

/*****************
Flexbox Formatting  
*****************/

#wrapper {
    /* centers container in viewport */
    margin: 0 auto;
    max-width: 95vw;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	max-width: none;
}

main {
 
    /* formatting for visual clarity */
    border: 1px solid black; 
    background-color: #ccc;
    margin: .5rem 0;
	display: flex;
	flex-direction: row;
	flex: 1;

}

header, footer {

    /* formatting for visual clarity */
    background-color: lightblue;
    padding: 0 .5rem;
}

article, nav, aside {

    /* formatting for visual clarity */
    border: 1px dotted black;
    background-color: #fff;
    margin: .5rem;
    padding: .5rem;
	order: 0;
	flex: 1;
	margin: 0.5rem 0;
}
nav{
	order: -1;
	flex: 0 0 12rem;
}
aside{
	flex: 0 0 12rem;
}
@media screen and (max-width: 36rem){
	flex-direction: column;
	width: 100vw;
}