*{
	margin: auto;
}
#warning{
	visibility: hidden;
}
body{
	background-color: black;
}
#pg2{
	margin: 80px;
}
p, a{
	font-family: 'Merienda', cursive;
	font-size: 18pt;
}
p{
	color: #020505;
}
a{
	color: #9b2323;
	opacity: 0;
	text-decoration: none;
	z-index: 4;
	position: absolute;
	left: 60%;
	bottom: 12%;
}
#mountains{
	opacity: 0;
	z-index: 1;
	position: absolute;
	width: 70vw;
	left: 17%;
	top: -3%;
}
#ground{
	opacity: 0;
	z-index: 2;
	position: absolute;
	width: 69vw;
	left: 15%;
	top: 3%;
}
#mage{
	opacity: 0;
	z-index: 3;
	position: absolute;
	width: 60vw;
	left: 18%;
	top: 39%;
}
#p2-1{
	opacity: 0;
	z-index: 4;
	position: absolute;
	left: 23%;
	top: 13%;
}
#p2-2{
	opacity: 0;
	z-index: 4;
	position: absolute;
	left: 26%;
	top: 18%;
}
#p2-3{
	opacity: 0;
	z-index: 4;
	position: absolute;
	left: 45%;
	top: 60%;
}

@media only screen and (max-width: 800px){
	#pg2{
		visibility: hidden;
	}
	#warning{
		visibility: visible;
		font-family: 'Nothing You Could Do', cursive;
		color: #bfd8d7;
		font-size: 18pt;
		text-align: center;
		margin: 40px;
		position: absolute;
		top: 20%;
	}
}

::-webkit-scrollbar {
  width: 16px;
}
::-webkit-scrollbar-track {
  background: none; 
}
::-webkit-scrollbar-thumb {
  background: #9b2323; 
}
/*scroll bar styling sourced from w3 https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp */